wix/user.mk
BridgeClock.pro.user*
tags
wix/win
wix/win-build
wix/*.wixobj
.clang_complete
wix/BridgeClock.msi
wix/*.wixpdb
wix/*.wxs
*.swp
*.orig
*~
wix/varsub
wix/linux
wix/linux-build
wix/BridgeClock-linux*
wix/BridgeClock-src*
wix/BridgeClock-versions.xml
locale/*.qm
